@using TopLearn.Core.Convertors
@using TopLearn.DataLayer.Entities.Course;
@using TopLearn.Core.Services.Interfaces;
@model Course
@inject ICourseService _courseService
@{
    ViewData["Title"] = Model.CourseTitle;
    bool buyedCourse = false;
    if (User.Identity.IsAuthenticated)
    {
        buyedCourse = _courseService.BuyCourseByUser(User.Identity.Name, Model.CourseId);
    }
    int CountUser = _courseService.CountCourseUsers(Model.CourseId);
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"> تاپ لرن </a></li>
            <li class="breadcrumb-item active"><a href="/Course"> دوره ها </a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:#00b3e9"> @Model.CourseTitle </li>
        </ul>
    </nav>
</div>

<div class="container">
    <section class="term-content">
        <header><h1 style="color:#00b3e9"> @Model.CourseTitle </h1></header>
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12 pull-left">
                <section class="term-description">
                    <img src="/Course/Image/@Model.CourseImageName">

                    @Html.Raw(Model.CourseDescription)

                    @if (!string.IsNullOrEmpty(Model.DemoFileName))
                    {
                        <h2 style="color:#00b3e9"> ویدئو معرفی دوره :  </h2>
                        <video style="width:100%" controls poster="/Course/Image/@Model.CourseImageName" class="thumbnail">
                            <source src="~/Course/Demos/@Model.DemoFileName">
                        </video>
                        <br />
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="alert alert-info">
                            <p>بعد از ثبت نام در این دوره و تایید فاکتور لینک های دانلود برای شما فعال خواهد شد</p>
                        </div>
                    }

                    <div id="VoteCourse">
                    </div>

                    <div class="row thumbnail">
                        <h2> سرفصل های این دوره : </h2>

                        <ul>
                            @foreach (var item in Model.CourseEpisodes)
                            {
                                <li>
                                    @if (item.IsFree || buyedCourse)
                                    {
                                        <h3>
                                            <a href="/DownloadFile/@item.EpisodeId" style="color:#00b3e9">
                                                @item.EpisodeTitle
                                            </a>
                                        </h3>
                                    }
                                    else
                                    {
                                        <h3>
                                            @item.EpisodeTitle
                                        </h3>
                                    }
                                    @if (item.IsFree)
                                    {
                                        <i> رایگان </i>
                                    }
                                    else
                                    {
                                        <i> نقدی </i>
                                    }
                                    <span>@item.EpisodeTime</span>
                                </li>
                            }
                        </ul>
                    </div>


                </section>

                <section class="user-comments">
                    <header><h3> نظرات کاربران </h3></header>
                    <div class="inner">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <input type="hidden" id="comment_CourseId" name="comment.CourseId" value="@Model.CourseId" />
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="comment_Comment" name="comment.Comment" placeholder="متن نظر"></textarea>
                                    </div>

                                </div>
                                <div class="col-xs-12">
                                    <button type="submit" onclick="CreateComment()" class="btn btn-success"> ثبت دیدگاه </button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                جهت درج نظر باید وارد سایت شوید
                            </div>
                        }

                        <div class="comment-list" id="listComment">
                        </div>
                    </div>
                </section>

            </div>

            <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
                <div class="statistics">
                    <ul>
                        <li>
                            <span> مدت دوره </span>

                            @{
                                TimeSpan time = new TimeSpan(Model.CourseEpisodes.Sum(e => e.EpisodeTime.Ticks));
                            }
                            <i> @time </i>
                        </li>
                        <li>
                            <span> تعداد ویدیوها </span>
                            <i> @Model.CourseEpisodes.Count </i>
                        </li>
                        <li>
                            <span> تعداد دانشجوها </span>
                            <i> @CountUser نفر </i>
                        </li>
                    </ul>
                    @if (Model.CoursePrice != 0 && !buyedCourse)
                    {
                        <a href="/Course/BuyCourse/@Model.CourseId"> شرکت در دوره : @Model.CoursePrice.ToString("#,0") تومان </a>
                    }
                    else
                    {
                        <br />
                        if (Model.CoursePrice == 0)
                        {
                            <span class="center-block text-success" style="padding:5px">
                                <i class="zmdi zmdi-check-all">
                                    این دوره رایگان است می توانید از آن استفاده کنید
                                </i>
                            </span>
                        }
                        else
                        {
                            <span class="center-block text-success" style="padding:5px">
                                <i class="zmdi zmdi-check-all">
                                    این دوره توسط شما خریداری شده است
                                </i>
                            </span>
                        }
                    }
                </div>

                <article class="teacher-info">
                    <img src="/images/UserAvatar/@Model.Teacher.UserAvatar">
                    <h2> مدرس : @Model.Teacher.UserName </h2>
                </article>

                <article class="term-info">
                    <h2> اطلاعات این دوره </h2>
                    <ul>
                        <li>سطح دوره : <i style="color:#00b3e9"> @Model.CourseStatus.StatusTitle </i></li>
                        <li>وضعیت دوره : <i style="color:#00b3e9"> @Model.CourseLevel.LevelTitle </i></li>
                        @if (Model.CoursePrice != 0)
                        {
                            <li>قیمت :  <i style="color:#00b3e9">@Model.CoursePrice.ToString("#,0") تومان</i></li>
                        }
                        else
                        {
                            <li> رایگان </li>
                        }
                        <li>تاریخ ثبت این دوره :  <i style="color:#00b3e9">@Model.CreateDate.DateToShamsi()</i></li>
                        <li>آخرین بروزرسانی دوره :  <i style="color:#00b3e9">@Model.UpdateDate?.DateToShamsi()</i></li>
                    </ul>
                </article>

                <div class="share-layer">
                    <span> به اشتراک گذاری </span>
                    <a href=""><i class="zmdi zmdi-facebook"></i></a>
                    <a href=""><i class="zmdi zmdi-google-old"></i></a>
                    <a href=""><i class="zmdi zmdi-twitter"></i></a>
                    <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                </div>

                @if (Model.Tags != null)
                {
                    <div class="tags-layer">
                        @foreach (string tag in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
                        {
                            <a href="/Course?filter=@tag"> @tag </a>
                        }
                    </div>
                }

                <div class="statistics" >
                    @if (Model.CoursePrice == 0)
                    {
                        <a href="/Forum?filter=&courseId=@Model.CourseId" style="margin:0px !important"> پرسش و پاسخ  </a>
                    }
                    else
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            if (buyedCourse)
                            {
                                <a href="/Forum?filter=&courseId=@Model.CourseId" style="margin:0px !important"> پرسش و پاسخ  </a>
                            }
                            else
                            {
                                <div class="alert alert-info">
                                    جهت پرسش و پاسخ باید این دوره را خریداری کرده باشید
                                </div>
                            }
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                جهت پرسش و پاسخ باید وارد سایت شوید
                            </div>
                        }
                    }
                </div>

            </aside>

        </div>
    </section>
</div>

@section Scripts
    {
    <script src="/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            ShowComment(1);
            ShowVote($('#comment_CourseId').val())
        });

        function CreateComment() {
            var tmpdes = $('#comment_Comment').val();
            var tmpid = $('#comment_CourseId').val();
            $.ajax({
                url: "/Course/CreateComment",
                type: "POST",
                data: { commentDescription: tmpdes, courseId: tmpid },
                success: function (data) {
                    $('#comment_Comment').val("");
                    $('#comment_Comment').focus();
                    ShowComment(1);
                },
                error: function (error) {
                }
            });
        }

        function ShowComment(page) {
            var tmpid = $('#comment_CourseId').val();
            $.ajax({
                url: "/Course/ShowComment",
                type: "GET",
                data: { id: tmpid, pageId: page },
                success: function (data) {
                    $('#listComment').html(data);
                },
                error: function (error) {
                }
            });
        }

        function CreateVote(Vote) {
            var tmpid = $('#comment_CourseId').val();
            $.ajax({
                url: "/Course/AddVote",
                type: "POST",
                data: { id: tmpid, vote: Vote },
                success: function (data) {
                    ShowVote(tmpid);
                },
                error: function (error) {
                }
            });
        }

        function ShowVote(courseid) {
            $.ajax({
                url: "/Course/ShowVote",
                type: "GET",
                data: { id: courseid },
                success: function (data) {
                    $('#VoteCourse').html(data);
                },
                error: function (error) {
                }
            });
        }

    </script>
}


