@using TopLearn.Core.Convertors
@using TopLearn.Core.Services.Interfaces
@model IEnumerable<TopLearn.DataLayer.Entities.Question.Question>
@inject ICourseService _CourseService;
@inject IOrderService _OrderService;

@{
    ViewData["Title"] = "انجمن پرسش و پاسخ";
    int courseId = (int)ViewBag.CourseId;
    var course = _CourseService.GetCourseById(courseId);
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="inner" style="padding: 8px">
                <div class="panel">
                    <div class="panel-heading">
                        <form class="form-inline" asp-action="Index" method="get">
                            <input type="text" placeholder="عبارت را وارد کنید" class="form-control" name="filter" />
                            <input type="hidden" name="courseId" value="@courseId" />
                            <button type="submit" class="btn btn-success">
                                جستجو
                            </button>
                            <button type="submit" class="btn btn-info pull-left" asp-action="index"
                                    asp-controller="Forum" asp-route-courseId="@courseId" asp-route-filter="">
                                پاک کردن فیلتر
                            </button>
                        </form>
                    </div>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    @if (course != null)
                    {
                        if (course.CoursePrice == 0 || _CourseService.BuyCourseByUser(User.Identity.Name, courseId))
                        {
                            <div class="panel">
                                <div class="panel-body">
                                    <a asp-action="CreateQuestion" asp-route-id="@ViewBag.CourseId" class="btn btn-warning pull-left">
                                        ایجاد سوال جدید
                                    </a>
                                    <div class="pull-right">
                                        <i>
                                            پرسیدن سوال در دوره :
                                        </i>
                                        <a style="color:#00b3e9">
                                            @course.CourseTitle
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="alert alert-danger">
                                        شما این دوره را خریداری نکردید
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    @if (courseId != null && courseId!=0)
                    {
                        <div class="alert alert-danger">
                            برای پرسیدن سوال باید وارد سایت شوید
                        </div>
                    }
                    
                }

                <div>
                    @foreach (var item in Model)
                    {
                        <div class="panel">
                            <div class="panel-heading">
                                <img src="/images/UserAvatar/@item.User.UserAvatar" style="max-width: 40px; border-radius: 20px;" />
                                عنوان پرسش :   <a href="/Forum/ShowQuestion/@item.QuestionId">@item.Title</a>
                            </div>
                            <hr>
                            <div class="panel-body">
                                <div class="col-md-4">
                                    دوره ی مرتبط : <a href="/ShowCourse/@item.CourseId">@item.Course.CourseTitle</a>
                                </div>

                                <div class="col-md-4">
                                    ایجاد شده توسط : <a style="color:#00b3e9">@item.User.UserName</a>
                                </div>
                                <div class="col-md-4">
                                    در تاریخ :  <a style="color:#00b3e9"> @item.CreateDate.DateToShamsi()</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
