@model TopLearn.DataLayer.Entities.Question.Question
@using TopLearn.Core.Convertors
@{
    var userid = ViewBag.UserId;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"> تاپ لرن </a></li>
            <li class="breadcrumb-item"><a href="/Forum/Questions"> پرسش و پاسخ </a></li>
            <li class="breadcrumb-item active" aria-current="page"> @Model.Title </li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <section class="term-content">
                    <input type="hidden" id="QuestionId" value="@Model.QuestionId" />
                    <header>
                        <h1 style="color:#00b3e9"> عنوان سوال :  @Model.Title </h1>
                    </header>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12 pull-left">
                            <section class="term-description">
                                <h3 style="color:#00b3e9"> متن سوال </h3>
                                <hr />
                                @Model.Body
                            </section>
                        </div>
                        <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
                            <article class="teacher-info">
                                <img src="/images/UserAvatar/@Model.User.UserAvatar">
                                <h2> ایجاد کننده سوال : @Model.User.UserName </h2>
                                <h2> تاریخ ایجاد : @Model.CreateDate.DateToShamsi() </h2>
                            </article>
                        </aside>
                    </div>
                </section>
            </div>

            <div class="inner" style="margin-top: 25px;" id="ListAnswer">
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="inner" style="margin-top: 25px;">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1 style="font-size: 18px;" class="text-success text-muted">افزودن پاسخ جدید</h1>
                        </div>
                        <div class="panel-body">
                            @*<form asp-action="Answer">
                        <div class="form-group">
                        <input type="hidden" name="qid" value="@Model.QuestionId" />
                        <textarea class="form-control" id="AnswerBody" name="AnswerBody" placeholder="متن نظر" style="height:250px"></textarea>
                        <button class="btn btn-block btn-success" style="margin-top: 20px; height: 50px; font-size: 15px;" type="submit">ثبت پاسخ شما</button>
                        </div>
                        </form>*@

                            <div class="form-group">
                                <input type="hidden" id="qid" name="qid" value="@Model.QuestionId" />
                                <textarea class="form-control" id="AnswerBody" name="AnswerBody" placeholder="متن نظر" style="height:250px"></textarea>
                                <button class="btn btn-block btn-success" style="margin-top: 20px; height: 50px; font-size: 15px;"
                                        type="submit" onclick="CreateAnswer()">
                                    ثبت پاسخ شما
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    برای پاسخ دادن به این سوال باید لاگین کنید
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="/js/jquery.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script>
        $(document).ready(function () {
            ShowAnswer();
            $('#AnswerBody').focus();

        });

        function CreateAnswer() {
            var tmpbody = $('#AnswerBody').val();
            var tmpquestionid = $('#qid').val();

            if (!tmpbody.trim()) {
                ErrorAlert('متن جواب نباید خالی باشد');
                $('#AnswerBody').focus();
            }
            else {
                $.ajax({
                    url: "/Forum/CreateAnswer",
                    type: "POST",
                    data: { answerBody: tmpbody, questionId: tmpquestionid },
                    success: function (data) {
                        if (data === "True") {
                            SuccessAlert('ایجاد جواب شما با موفقیت انجام شد');
                            ShowAnswer();
                            $('#AnswerBody').val("");
                            $('#AnswerBody').focus();
                        }
                        else {
                            ErrorAlert('ایجاد جواب به دلایلی با مشکل مواجه شد');
                            $('#AnswerBody').focus();
                        }
                    },
                    error: function (error) {
                        ErrorAlert('ایجاد جواب به دلایلی با مشکل مواجه شد');
                        $('#AnswerBody').focus();
                    }
                });
            }
        }

        function ShowAnswer() {
            var tmpid = $('#QuestionId').val();
            $.ajax({
                url: "/Forum/ShowAnswer",
                type: "GET",
                data: { id: tmpid },
                success: function (data) {
                    $('#ListAnswer').html(data);
                },
                error: function (error) {
                }
            });
        }

        function ErrorAlert(ErrMsg) {
            Swal.fire({
                //toast: true,
                showConfirmButton: true,
                icon: 'error',
                title: 'خطا',
                text: ErrMsg
            })
        }

        function SuccessAlert(str) {
            Swal.fire({
                //toast: true,
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000,
                icon: 'success',
                title: str,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
        }

    </script>
}